# Created by https://www.toptal.com/developers/gitignore/api/c++,replit
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,replit

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### replit ###
# Replit config file
.replit

# Replit Nix config file
replit.nix

# End of https://www.toptal.com/developers/gitignore/api/c++,replit